*
{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}



nav
{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;;
}

nav img
{
  width: 50px;
  height: 50px;
}

.nav-links
{
  flex: 1;
  text-align: right;

}

.nav-links ul li
{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a
{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after
{
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after
{
  width: 100%;
}

.text-box
{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown 

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.text-box2
{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

text-box12
{
  width: 90%;
  color: #fff;
  text-align: justify;
}

.text-box12 h1 {
  color: #fff;
  position: relative;
  text-align: center;
  font-size: 52px;
}

.text-box12 p {
  color: #fff;
  font-size: 24px;
  font-weight: 100;
  margin-right: 10%;
}

text-box10
{
  width: 90%;
  color: #fff;
}

.text-box10 h1 {
  color: #fff;
  position: relative;
  text-align: center;
  margin-right: -0px;
  margin-top: 30px;
  font-size: 62px;
}

.text-box11{
  color: #fff;
  position: relative;
  text-align: center;
  width: 40%;
  font-size: 30px;
  float: left;
}

.text-box h1
{
  font-size: 62px;
  position: static;
}

.text-box h3
{
  font-size: 52px;
}

.text-box p
{
  margin: 30px 0px 40px;
  font-size: 18px;
  color: #fff;
  line-height: 35px;
}

.hero-btn
{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13pz;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover
{
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}

nav .fa
{
  display: none;
}

.idk-btn
{
  color: transparent;
  background: transparent;
}

.image
{
  position: relative;
  width: 350px;
  margin-left: 30px;
  margin-top: 60px;;
}

.image__img
{
  display: block;
  width: 100%;
}

.image__ov
{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(35, 102, 8, 0.6);
  color: #ffffff;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__ov--blur
{
  backdrop-filter: blur(1px);
}

.image__ov > *
{
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__ov:hover
{
  opacity: 1;
}

.image__ov:hover > *
{
  transform: translateY(0);
}

.image__title
{
  font-size: 2.5em;
  top: 0px;
  font-weight: bold;
}

.image__dsc
{
  font-size: 1.10em;
}

.members-col
{
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.members-col img
{
  width: 150px;
  height: 100px;
  border-radius: 10px
}

@media(max-width: 700px)
{
  .text-box h1
  {
    font-size: 20px;
  }

  .nav-links ul li
  {
    display: block;
  }

  .nav-links
  {
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa
  {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul
  {
    padding: 30px;
  }

  .members-col
{
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  font-size: 12px;
}

.members-col img
{
  width: 50px;
  height: 40px;;
  border-radius: 10px
}
}

.allergens
{
  width: 20%;
  height: 40%;
  text-align: center;
  padding-top: 50px;
  padding-left: 50px;
}

.row {
  justify-content: center;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  padding-left: 0px;
}

.allergens-col
{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.allergens-col img
{
  width: 100%;
}

.layer
{
  background: transparent;
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  transition: 0.5s
}

.layer:hover
{
  background: rgba(255, 136, 0, 0.671);
}

#container
{
  height: 100vh;
  display: flex;
  justify-content: center;
}

#map
{
  height: 80vh;
  width: 80vh;
  margin: 40px;
  float: left;
}

html, body
{
  margin: 0;
  padding: 0;
}

